name: fpga

on:
  push:
    # Comment out (or remove) the following line to run the FPGA workflow on every push:
    branches: none
  workflow_dispatch:

jobs:
  fpga:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        shell: bash
        run: pip install -r requirements.txt

      - name: Generate project.v from Amaranth
        run: |
          cd src && python3 design.py
          echo "Generated project.v from src/design.py"

      - name: FPGA bitstream for TT ASIC Sim (ICE40UP5K)
        uses: TinyTapeout/tt-gds-action/fpga/ice40up5k@ttihp25b
